footer{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 0.9em; 
	background-color: #F2F2F2;
}
footer h2{
    width: auto;
	font-size: 1em;
	padding-top: 20px;
}/*
.FooterBlock{
   display: flex;
   justify-content: space-around;
   position: relative;
   right: 5%;
}*/
footer p{
    width: auto;
	font-size: 0.85em;
}
