@media screen and (max-width:500px){	
    html{
        width: auto;
    }
    body{
        width: auto; 
        
    }
    #BlockPage{
        display: flex;
        flex-direction: column;
        float: none;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        flex-direction: column ;
        
    }
    .FlexFiltres{
        display: flex;
        flex-wrap: wrap;
        width: 20%;
    }
    .Trend{
        float: none;
        width: auto;
    }
    .TrendBlock{
        
        width: 1px;
        height: 1px;
    }
    .HébergementsMarseille{
       width: auto;
       display:flex;
       flex-direction: column;
       margin-left: 10px;
    }
    .BlockActivités h2{
        margin-left: 50px;
    }
    .BlocImgHébergement{
        width: 2px;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    .BlocImgHébergement .imgHomeDimension1{
        width:2px;
        height: 2px;
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension2{
        width:2px;
        height: 2px;
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension3{
        width:2px;
        height: 2px;
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension4{
        width:2px;
        height: 2px;
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension5{
        width:2px;
        height: 2px;
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension6{
        width:2px;
        height: 2px;
        background-size: cover;
    }
    .TitreFiltre{
        width: 2px;
        margin-bottom: 20px;
    }
    .filtre{
        margin-right: -10px;
    }
    .BlockActivités{
        width: auto;
        display: flex;
        margin-left:auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
    }
    .BlockActivités h2{
        margin-left: 20px;
    }
    .BlockActivityMobile{
        width: 2px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
     
    }
    .DobbleBlock{
        margin-left: auto;
        margin-right: auto;
    }
    .BlockActivityImgMobile{
           width: 2%;
         height: 2px;
         background-size: cover;
         background-position: 50% 45%;
    }
    footer{
        font-size: 1.2em;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin-right:auto ;
    }
    .FooterBlock{
        margin-left: 110px;
        flex-direction: column;
    }
}