.FlexFiltres{
	margin-top: -25px;
	margin-left: 10px;
}
.TitreFiltre{
	display: flex;
	flex-direction: row;
    align-items: center;
}
.filtres{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 975px;
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
	font-family: Raleway_Bold;
	font-size: 0.9em;
}
.filtre{
	border-top: 3px solid #F2F2F2;
	border-right: 3px solid #F2F2F2;
	border-bottom: 3px solid #F2F2F2;
	border-left: 3px solid white;
	padding-right:20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 2em;
	z-index: auto;
	
}
.filtre:hover{
    background-color: #DEEBFF;
}
.blockIcone{	
	background-color: #DEEBFF;
	background-size: auto;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	margin:-3px 10px -3px -6px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
	font-size: 1em;
    color: #0065FC;
	display: flex;
}