@media all and (min-width:501px)and (max-width:1000px){
    body{
        font-size: 1.3vw;
        width: 100%;
        border: 2px solid black;
    }
    #BlockPage{
        width:90%;
        margin: auto;
        margin-top: -2.5px;
        display: flex;
        flex-direction: column;
        
    }
    #head h3{
        text-align: center;
    }
    #BarreDeRecherche{
        width: 80%;
    }
    .fa-map-marker-alt{
        margin-bottom: 20px;
    }
    .filtres{
        width: 94%;
        margin-left: 2px;
    }
    .BlockHébergements{
        height:75vw ;
        max-height: none;
        
    }
    .Trend{
        float: none;
        height: 20vw;
        width: 94%;
        margin-top: 30px;
        
        max-width: none;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .Trend h2{
        margin-bottom: 70px;
        padding-top: 20px;
        padding-left: 100px;
    }
    .TrendBlock{
       width: 22vw;
       margin-left: 3em; 
    }
    .fa-chart-line{
        margin-left:60px ;
    }
    .HébergementsMarseille{
        background-color: white;
        width: 100%;
        height: 70vw;
    }
    .BlocImgHébergement{
        margin-left: 2%;
        margin-right: 2%;
        width: 25vw;
        height: 20vw;
    }
    .BlocImgHébergement .imgHomeDimension1{
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension2{
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension3{
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension4{
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension5{
        width:98%;
        background-size: cover;
    }
    .BlocImgHébergement .imgHomeDimension6{
        width:98%;
        background-size: cover;
    }
    .Trend p{
       margin-bottom: -10px;
       margin-top: -10px; 
       padding-right: 100px;
       margin-right: 0px;
    }
    .Trend h3{
        width: auto;
    }
    .Img1Trend{
       height: 60%;
       width: 98%;
       background-size: cover;
    }
    .Img2Trend{
        height: 60%;
        width: 98%;
        background-size: cover;
     }
     .Img3Trend{
        height: 60%;
        width: 98%;
        background-size: cover;
     }
    .BlockTrendAll{
        display: flex;
        justify-content: space-around;
        margin-top: -50px;
        margin-left: -20px;
    }
    .Trend h2{
       margin-top: -20px;
       margin-left: -70px;
       width: auto;
       display: flex;
    }
    .BlockActivités{
        margin-top: 50px
    }
}