/*.BlockActivités{
	max-height: 600px;
	border:2px solid black;
	margin-bottom: -20px;
}
.BlockActivités h2{
	font-size: 1.1em;
	padding: 50px 0px 0px 0px;
	margin-bottom: 20px;
	margin-top: 0px;
}
.Activités{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 500px;
}

.Block1Activity{
	max-height: 500px;
	border-radius: 1em;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}
.Activités h3{
	margin-left: 15px;
	font-size: 0.9em;
}
.DobbleBlock{
	width: 22.5%;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.Block2Activity{
	width: 100%;
	flex-basis: 60%;
	border-radius: 1em;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}
.Block3Activity{
	width: 100%;
	flex-basis: 40%;
	max-height: 150px;
	border-radius: 1em;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}
.Block4Activity{
	width: 22.5%;
	max-height: 500px;
	border-radius: 1em;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}
.Block5Activity{
	flex-basis: 50%;
	border-radius: 1em;
	max-height: 225px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}
.Block6Activity{
	flex-basis: 50%;
	max-height: 225px;
	border-radius: 1em;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}/*
.Block1ActivityImg{
	background:url(Images/Activité/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) ;
	background-repeat:no-repeat ;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em ;
}	/*
.Block2ActivityImg{
	width: auto;
	height: 80%;
	background:url(Images/Activité/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) 0% 40%;
	background-size: cover;
	background-repeat:no-repeat ;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em ;
}	
.Block3ActivityImg{
	width: auto;
	height: 70%;
	background:url(Images/Activité/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) 0% 30%;
	background-size: 100%;
	background-repeat:no-repeat ;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em ;
}
.Block4ActivityImg{
	width: auto;
	height: 90%;
	background:url(Images/Activité/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg)50% 30%;
	background-size:auto 118%;
	background-repeat:no-repeat ;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em ;
}
.Block5ActivityImg{
	height: 78%;
	background:url(Images/Activité/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg)50% 00%;
	background-size:105% auto;
	background-repeat:no-repeat ;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em ;
}
.Block6ActivityImg{
	height: 78%;
	background:url(Images/Activité/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg)0% 20%;
	background-size:cover;
	background-repeat:no-repeat ;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em ;
}