.Trend{
	float: right;

	background-color: #F2F2F2;
	font-size: 1.1em;
}
.Trend h2{
	font-size: 1.2em;
	padding: 4%;
	margin-left: 30px;
	margin-bottom: 15px;
}
.fa-chart-line{
	float: right;
	width: 1.1em;
	position: relative;
	right:1.5em
}
.Trend p{ 
    text-align: center;
	display: flex;
    padding-left: 15px;
    margin-left: 100px;
    width: 150px;
}
.TrendBlock{
	background-color: white;
    margin-right: auto;
	width: 370px;
	height: 150px;
	margin-left: auto;
	border-radius: 21px;
	margin-bottom: 30px;
	font-size: 0.7em;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.15);
}
.Img1Trend{
	background:url(Images/Hébergement/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) center;
	background-size: 200px 152px;
	background-repeat:no-repeat ;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px ;
	width: 130px;
	height: 142px;
	margin: 4px;
	float: left;
}
.Img2Trend{
	background:url(Images/Hébergement/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg) center;
	background-size: 200px 152px;
	background-repeat:no-repeat ;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px ;
	width: 130px;
	height: 142px;
	margin: 4px;
	float: left;
}
.Img3Trend{
	background:url(Images/Hébergement/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg) center;
	background-size: 150px 200px;
	background-repeat:no-repeat ;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px ;
	width: 130px;
	height: 142px;
	margin: 4px;
	float: left;
}
.Trend h3{
	position: relative;
	width: 180px; 
    padding-top: 20px;
    margin-bottom: -10px;
    padding-left: 15px;
    margin-left: 100px;
	display: flex;
}
.Trend .FlexStars{
	width: 1px;
	padding-left: 15px;
	margin-top: 45px;
	display: flex;
}
@media all and (min-width:501px){
    .Trend{
        width: 450px;
        height: 650px;
        border-radius: 1em;
    }
}