.Trend{
	float: right;
	width: 32%;
	height: 100%;
	max-width: 600px;
	max-height:650px ;
	background-color: #F2F2F2;
	font-size: 1.1em;
}
.Trend h2{
	font-size: 1.2em;
	padding: 20px 0 0 20px;
	margin-left: 20px;
	margin-bottom: 30px;
}
.fa-chart-line{
	float: right;
	width: 1.1em;
	position: relative;
	right:1.5em
}
.Trend p{ 
    text-align: center;
	display: flex;
    padding-left: 15px;
    margin-left: 100px;
    width: 10vw;
	max-width: 200px;
}
.TrendBlock{
	background-color: white;
	width: 84%;
	height: 10em;
	max-height: 100%;
	margin-bottom: 2em;
	margin-right: 8%;
	margin-left: 8%;
	border-radius: 1em;
	font-size: 0.7em;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.15);
}
.Img1Trend{
	background:url(Images/Hébergement/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) center;
	background-size: cover;
	background-repeat:no-repeat ;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em ;
	width: 35%;
	height:96% ;
	margin: 1%;
	float: left;
}
.Img2Trend{
	background:url(Images/Hébergement/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg) center;
	background-size: cover;
	background-repeat:no-repeat ;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px ;
	width: 35%;
	height: 96%;
	margin: 1%;
	float: left;
}
.Img3Trend{
	background:url(Images/Hébergement/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg) center;
	background-size: cover;
	background-repeat:no-repeat ;
	border-top-left-radius: 0.7em;
	border-bottom-left-radius: 21px ;
	width: 35%;
	height: 96%;
	margin: 1%;
	float: left;
}
.Trend h3{
	position: relative;
	width: 55%; 
    padding-left: 15px;
    margin-left: 0px;
	display: flex;
}
.Trend .FlexStars{
	width: 1px;
	padding-left: 15px;
	margin-top: 17%;
	display: flex;
	font-size: 1.5em;
}
.Trend .FlexStars2{
	width: 1px;
	padding-left: 15px;
	margin-top: 12%;
	display: flex;
	font-size: 1.5em;
}
@media (min-width:1001px){
    .Trend{
       
        border-radius: 1em;
    }
}