@font-face{
	font-family: Raleway;
	src: url('police/Raleway-Regular.eot');
    src: url('police/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('police/Raleway-Regular.woff') format('woff'),
         url('police/Raleway-Regular.ttf') format('truetype'),
         url('police/Raleway-Regular.svg#BallparkWeiner') format('svg');
}
@font-face{
	font-family: Raleway_Bold;
	src:url('police/Raleway-Bold.ttf') format('truetype');

}
body{
	max-width: 1600px;
	margin: auto;
	max-height: 2000px;
	font-size: 1.2em;
	
	font-family: Raleway_Bold;
}
a{
	text-decoration: none;
	color: black;
}
p{
	font-family: Raleway;
	font-weight: lighter;
	width: auto;
}
#BlockPage{
	max-width: 1740px;
	max-height: 5000px;
	margin-left: 3%;
	margin-right: 3%;
	font-family: Raleway_Bold;
}
@media screen and (max-width:1600px){
	body{
		font-size: 1.2vw;
	}
}