@font-face{
	font-family: Raleway;
	src: url('police/Raleway-Regular.eot');
    src: url('police/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('police/Raleway-Regular.woff') format('woff'),
         url('police/Raleway-Regular.ttf') format('truetype'),
         url('police/Raleway-Regular.svg#BallparkWeiner') format('svg');
}
@font-face{
	font-family: Raleway_Bold;
	src:url('police/Raleway-Bold.ttf') format('truetype');

}
body{
	width: 1519px;
	margin: auto;
	height: auto;
	font-size: 1.2em;
	font-family: Raleway_Bold;
}
a{
	text-decoration: none;
	color: black;
}
p{
	font-family: Raleway;
	font-weight: lighter;
}
#BlockPage{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	font-family: Raleway_Bold;
}