
.FlexHébergements{
	border: 0px solid black;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: row ;
	justify-content: space-around;
	flex-wrap: wrap;
}
.fa-star{
	color: #0065FC;
	font-size: 0.6em;
}
.StarsGray{
	color: #F2F2F2;
}
.BlockHébergements{
	height: 45vw;
	max-height: 650px;
}
.HébergementsMarseille{	
	max-width: 1200px;
	max-height: 650px;
	width: 65%;
	height: 100%;
	
}
.HébergementsMarseille h2{
	font-size: 1.2em;
	padding: 40px 0px 0px 0px;
	margin-left: 30px;
	margin-bottom:30px;
	margin-top: -0px;
}
.HébergementsMarseille .More{
	font-size: 1em;
	padding: 20px;
	margin-top: -10px;
	margin-left: 10px;
}
.HébergementsMarseille p{
	font-size: 0.7em;
	margin:-13px 0px 0px 15px;
}
.HébergementsMarseille h3{
	font-size: 1em;
	margin-left: 15px;
	margin-top: 8px;
}
.BlocImgHébergement{
	width: 17vw;
	max-width:270px;
	height: 14vw;
	max-height:200px;

	background-color: white;
	margin-bottom: 30px;
	border-radius: 10%;
	box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
}
.BlocImgHébergement .imgHomeDimension1{
	width:96.8%;
	height: 55%;
	margin:1.6%;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
	background: url(Images/Hébergement/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg) 50% 35%;
	background-size: cover;
	background-repeat: no-repeat;
}
.BlocImgHébergement .imgHomeDimension2{
	width:97.6%;
	height: 55%;
	margin: 1.2%;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
	background: url(Images/Hébergement/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.BlocImgHébergement .imgHomeDimension3{
	width:97.6%;
	height: 55%;
	margin: 1.2%;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
	background: url(Images/Hébergement/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.BlocImgHébergement .imgHomeDimension4{
	width:97.6%;
	height: 55%;
	margin: 1.2%;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
	background: url(Images/Hébergement/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.BlocImgHébergement .imgHomeDimension5{
	width:97.6%;
	height: 55%;
	margin: 1.2%;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
	background: url(Images/Hébergement/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
}.BlocImgHébergement .imgHomeDimension6{
	width:97.6%;
	height: 55%;
	margin: 1.2%;
	border-top-left-radius: 1.35em;
	border-top-right-radius: 1.35em;
	background: url(Images/Hébergement/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg) 30% 55%;
	background-size: 106%;
	background-repeat: no-repeat;
}
.HébergementsMarseille .FlexStars{
	margin: 6px 0px 0px 15px;
	display: flex;
	width: 64px;
}
@media (min-width:501px){
	.HébergementsMarseille{
		background-color: #F2F2F2;
	}
}
@media (min-width:1001px){
	.HébergementsMarseille{
		
		border-radius: 1.35em;
	}
}