@media screen and (max-width:500px){	
    body{
        width: auto;
    }
    #BlockPage{
        width: 500px;
        display: flex;
        flex-direction: column;
        float: none;
        font-size:100%;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        flex-direction: column ;
        
    }
    .FlexFiltres{
        display: flex;
        flex-wrap: wrap;
        width: 100px;
    }
    .Trend{
        width: auto;
    }
    .TrendBlock{
        width: 90%;
    }
    .HébergementsMarseille{
       width: auto;
       display:flex;
       flex-direction: column;
       margin-left: -50px;
    }
    .BlocImgHébergement{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .TitreFiltre{
        width: 370px;
        margin-bottom: 20px;
    }
    .filtre{
        margin-right: -10px;
    }
    .BlockActivités{
        width: auto;
        display: flex;
        margin-left:auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
    }
    .BlockActivityMobile{
        width: 400px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        border: 2px solid black; 
     
    }
    .DobbleBlock{
        margin-left: auto;
        margin-right: auto;
    }
    .BlockActivityImgMobile{
           width: 100%;
         height: 100px;
         background-size: cover;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        margin-right:auto ;
    }
    .FooterBlock{
        margin-left: 100px;
        flex-direction: column;
    }
}