@media (max-width:500px){	
    body{
        width: auto;
        height: auto;
        margin:auto ;
        margin-left: 5px;
        margin-right: -0px;
    }
    #BlockPage{
        width: 500px;
        margin-left:100px;
        display: flex;
        flex-direction: column;
        float: none;
        font-size: 1.3em;
        margin-left: -8px;
    }
    .FlexFiltres{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
    .Trend{
        width: auto;
        margin-right:-60px ;
    }
    .filtre{
        height: 50px ;
    }
    .BlockIcone{
        width: 500px; 
    }
    .HébergementsMarseille{
       width: auto;
       display:flex;
       flex-direction: column;
       margin-left: -50px;
       margin-bottom: 1000px;
    }
    .BlocImgHébergement{
        display: flex;
        flex-wrap: wrap; 
    }
    .TitreFiltre{
        width: 400px;
        margin-bottom: 20px;
    }
    .BlockActivités{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        position: relative;
        top: 800px;
    }
    footer{
        width: 200px;
        padding-right: 20px;
        margin-right: 50px;
        padding-left: 10px;
        margin-left: -0px;
        margin-top:2150px;
    }
    .FooterBlock{
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-left:60px;
    }
}
