footer{
	width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: -1%;
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 0.9em; 
	background-color: #F2F2F2;
}
footer h2{
    width: 200px;
	font-size: 1em;
	padding-top: 20px;
}
.FooterBlock{
   display: flex;
   justify-content: space-around;
   margin-right: 150px;
   position: relative;
   right: 60px;
}
footer p{
    width: auto;
	font-size: 0.85em;
}
