#ReserviaLogo{
	width: 110px;
    margin-top: 20px;
	float: left;
}
#head ul{
	display: flex;
	font-size: 0.8em;
	justify-content: flex-end;
}
#head li{
	display: flex;
	margin:10px 0px 0px 50px;
	padding: 0px 0px 0px 0px;
}
#head li a{
	text-decoration:none;
	font-weight: 600;
	display: inline-block;
	padding:40px 20px 0px 20px;
	margin:-25px 0px 25px 0px;
}
.Hébergement{
	font-family: Raleway;
	color:rgb(0,101,252)  ;
	border-top: 3px solid rgb(0,101,252);
}
.Inscription{
	color:rgb(0,101,252);
	font-size: 1.1em;
	font-family: Raleway_Bold;
}
.Activité{
	color: black;
	font-family: Raleway;
}
#head h3{
	padding-top: 20px;
	font-family: Raleway_bold;
}
#head h3 span{
	font-size: 0.72em;
	font-family: Raleway;
	font-weight:500 ;
}
/*Début de la Barre de recherche*/
#BarreDeRecherche{
	width: 240px;
	height: 50px;
	position: relative;
	bottom: 2px;
	left: 49px;
	border:1px solid #F2F2F2;
	font-size: 0.9em;
	padding-left: 10px;
}
::placeholder{
	opacity: 1;
	font-family: Raleway_bold;
}
#BarreDeRecherche::placeholder{
	color: black;

}
#BarreDeRecherche:focus{
	outline: none;
}
#Map{
	border:2px solid rgba(0,0,0,0);
	background-color: rgb(242,242,242);
	height: 46px;
	width: 46px;
    margin-top: -52px;
    margin-bottom: 70px;
	border-top-left-radius:15px;
	border-bottom-left-radius: 15px;
	
}
.Map{
	margin:12px 0px 0px 15px;
}
.fa-map-marker-alt{
    font-size: 18px;

}
#Map:hover{
    cursor: pointer;
}
#BouttonDeRecherche{
	border:1px;
	border-top-right-radius: 0.8em;
	font-size: 0.9em;
	border-bottom-right-radius:0.8em;
	background-color: #0065FC;
	padding:0px 0px 0px 2px;
    margin-left: 43px;
    position: relative;
    bottom: 2px;
	height: 50px;
	width: 120px;
	color: white;
}
#BouttonDeRecherche:focus{
	outline: none;
}
#BouttonDeRecherche:hover{
	cursor: pointer;
}
h4{
	font-size: 0.8em;
	font-family: Raleway;
	margin-top: 2em;
	margin-bottom: 2em;
	font-weight: lighter;
}
.info{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	margin-left: 10px;
	
	position: relative;
	bottom: -13px;
}
.fa-info{
	font-size: 0.6em;
	color: #0065FC;
	
}