@font-face{
	font-family: Raleway;
	src: url('police/Raleway-Regular.eot');
    src: url('police/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('police/Raleway-Regular.woff') format('woff'),
         url('police/Raleway-Regular.ttf') format('truetype'),
         url('police/Raleway-Regular.svg#BallparkWeiner') format('svg');
}
@font-face{
	font-family: Raleway_Bold;
	src:url('police/Raleway-Bold.ttf') format('truetype');

}
body{
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
	font-family: Raleway_Bold;
}
a{
	text-decoration: none;
	color: black;
}
#BlockPage{
	width: 1440px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.65%;
	padding-left: 0%;
	font-family: Raleway_Bold;
}
/*Début de l'en tête*/

#ReserviaLogo{
	width: 100px;
	float: left;
}
#head ul{
	display: flex;
	font-size: 0.8em;
	justify-content: flex-end;
}
#head li{
	display: flex;
	margin:10px 0px 0px 70px;
	padding: 0px 0px 0px 0px;
}
#head li a{
	text-decoration:none;
	
	font-weight: 600;
	display: inline-block;
	position: relative;
	bottom: 50px;
	right: 50px;
	padding:50px 20% 0px 20%;
	margin:0px 0px -50px 0px;
}
.Hébergement{
	font-family: Raleway;
	color:rgb(0,101,252)  ;
	border-top: 3px solid rgb(0,101,252);
}
.Inscription{
	color:rgb(0,101,252);
	font-size: 1.1em;
	font-family: Raleway_Bold;
}
.Activité{
	color: black;
	font-family: Raleway;
}
#head h3{
	padding-top: 20px;
	font-family: Raleway_bold;
}
#head h3 span{
	font-size: 0.7em;
	opacity: 60%;
}
/*Début de la Barre de recherche*/
#BarreDeRecherche{
	width: 240px;
	height: 44px;
	position: relative;
	bottom: 1px;
	left: 49px;
	border:1px solid rgb(240,240,240);
	color: black;
	font-size: 1em;
}
#BarreDeRecherche::placeholder{
	color: black;
	padding:5% 0px 0px 5% ;
	font-family: Raleway_bold;
}
#BarreDeRecherche:focus{
	outline: none;
}
#Map{
	border:2px solid rgba(0,0,0,0);
	background-color: rgb(242,242,242);
	height: 40px;
	width: 45px;
	position: relative;
	bottom: 46PX;
	border-top-left-radius:10px;
	border-bottom-left-radius: 10px;
}
.Map{
	width: 14px;
	margin:13px 0px 0px 17px;
}
#BouttonDeRecherche{
	border:1px;
	border-top-right-radius: 1em;
	font-size: 0.85em;
	border-bottom-right-radius:1em;
	background-color: #0065FC;
	margin:5px 0px 0px -5px;
	padding:2px 0px 1px 0px;
	position: relative;
	left: 49PX;
	bottom: 2px;
	height: 44.2px;
	width: 100px;
	color: white;
}
#BouttonDeRecherche:focus{
	outline: none;
}
#BouttonDeRecherche:hover{
	cursor: pointer;
}
/*Fin de la Barre de recherche*/
/*Début des Filtres*/
#head table{
	position: relative;
	bottom: 1em;
}
#head td{
	width: 200px;
	height: 20px;
	text-align: center;
	border-top: 2px solid #F2F2F2 ;
	border-bottom: 2px solid #F2F2F2 ;
	border-right: 2px solid #F2F2F2 ;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-left: 2px solid rgba(0,0,0,0);
	margin-left: 100px;
	margin-right: 100px;
	z-index: 1;
}
#head td:hover{
	cursor:pointer;
}
.money{
	width: 20px;
	position:relative;
	right:  5%;
	border: 2px solid #F2F2F2;
}
.Famille{
	width: 20px;
	position:relative;
	right:  5%;
	top: 2%;
}
.Heart{
	width: 1.5em;
	position:relative;
	right:  5%;
	top: 2%;
}
.Dog{
	width: 1.5em;
	position:relative;
	right:  5%;
	top: 2%;
}
.icone{
	width: 5px;
	border: 2px solid #F2F2F2;
}
h4{
	font-size: 0.7em;
	opacity: 70%;
}
/*Fin de l'en-tête*/
/*Début de la section Hébergements à Marseille*/
.BlockHébergements{
	width: 1440px;
	height: 600px ;

}
.Stars{
	width:20px;	height: 12px;

}
#HébergementsMarseille{
	background-color: #F2F2F2;
	width: 950px;
	height: 600px;
	border-radius: 1em;
	float: left;
}
#HébergementsMarseille h2{
	font-size: 1.1em;
	padding: 20px;
}
/*Fin de la section Hébergements à Marseille*/
/*Début de l'aside */
.Trend{
	float: right;
	width: 400px;
	height: 600px;
	border-radius: 1em;
	background-color: #F2F2F2;
}
.Trend h2{
	font-size: 1.2em;
	padding: 7%;
	position: relative;
	left: 20px;
	margin-bottom: -15px;
}
.Line{
	float: right;
	width: 1.1em;
	position: relative;
	right:1.5em
}
.Trend p{ 
	position: relative;
	left: 10px;
	bottom: 0px;
	opacity: 70%;
}
.Trend1{
	background-color: white;
	width: 80%;
	height: 21%;
	margin-left: 20px;
	border-radius: 1em;
	font-size: 0.7em;
	margin-bottom: 8%;
	position: relative;
	left: 20px;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.15);
}
.Trend1Img{
	width: 130px;
	height: 118px;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	padding:3px 2px 2px 4px;
	float: left;
}
.Trend2{
	background-color: white;
	width: 80%;
	height: 21%;
	margin-left: 20px;
	border-radius: 1em;
	font-size: 0.7em;
	margin-bottom: 10%;
	position: relative;
	left: 20px;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.15);
}
.Trend2Img{
	width: 130px;
	height: 118px;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	padding:3px 2px 2px 4px;
	float: left;
	

}
.Trend3{
	background-color: white;
	width: 80%;
	height: 21%;
	margin-left: 20px;
	border-radius: 1em;
	font-size: 0.7em;
	position: relative;
	left: 20px;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.15);
}
.Trend3Img{
	width: 130px;
	height: 118px;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	padding: 3px 2px 2px 4px;
	float: left;
}
.Trend h3{
	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 10px;
}
.Trend div{
	width: 0;
	position: relative;
	left: 10px;
	top: 20px;
	display: flex;
}
#Activités{
	width: 1440px;
	height: 500px ;
}
#Activités h2{
	font-size: 1.1em;
	padding: 20px 0px 0px 0px;
}
footer{
	margin: auto;
	width: 1519px;
	height: 200px ;
	margin-top: 2em;
	margin-bottom: -1%;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content:flex-start ;
}
footer h2{
	font-size: 1em;
	padding-top: 20px;
	position: relative;
	left: 50px;
	margin-right: 18em;
}
footer p{
	font-size: 0.85em;
	opacity: 60%;
	position: relative;
	left: 50px;
}
@media screen and (max-width: 500px){
	body{
		background-color:red;
	}
}