.BlockActivités{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20px;
}
.BlockActivités h2{
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
}
.BlockActivités h3{
    width: auto;
    font-size: 1.1em;
    padding-left:20px;
    padding-bottom: 10px;
}
.BlockActivityMobile{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
    border-radius:1em ;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.105);
}
.Block1ActivityImg{
    background:url(Images/Activité/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) 50% 20%;
	background-size: cover;
    background-repeat:no-repeat ;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em ;
}
.Block3ActivityImg{
    width: auto;
    height: 70%;
    background:url(Images/Activité/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) 0% 30%;
    background-size: cover;
    background-repeat:no-repeat ;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em ;
}
.Block4ActivityImg{
    width: auto;
    height: 90%;
    background:url(Images/Activité/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg)50% 50%;
    background-size:cover;
    background-repeat:no-repeat ;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em ;
}
.Block5ActivityImg{
    height: 78%;
    background:url(Images/Activité/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg)50% 00%;
    background-size:cover;
    background-repeat:no-repeat ;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em ;
}
.Block6ActivityImg{
    background:url(Images/Activité/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) 50% 20%;
    background-size:cover;
    background-repeat:no-repeat ;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em ;
}
.DobbleBlock{
    width: 100%;
}
.BlockActivityImgMobile{
    width: 100%;
    height: 120px;
    background-size:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em ;
}
.Block2ActivityImg{
    background:url(Images/Activité/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) 0% 40%;
    background-repeat:no-repeat ;
    background-size:cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em ;
}
@media screen and (min-width:501px){	
	.Activités{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 350px;
		flex-basis:22.5% ;
		margin: auto;
		align-content: space-between;
		justify-content: space-around;
	}
	.Block1Activity{
		width: 40%;
		margin: 0;
		margin-bottom: 50px;
	}
	.Activités h3{
		padding: 20px;
		margin: 0px;	
	}
	.DobbleBlock{
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.DobbleBlock1{
		margin-bottom: 50px;
	}
	.Block2Activity{
		width: 100%;
		
	}
	.Block3Activity{
		width: 100%;
		margin-bottom: 0;
	}
	.Block4Activity{
		width: 40%;
		margin: 0  ;
	}
	.Block5Activity{
		width: 100%;
	}
	.Block6Activity{
		width: 100%;
		margin-bottom: 0;
	}
	.Block1ActivityImg{
		height: 300px;
	}	
	.Block2ActivityImg{
		height: 120px;
		background-position: 30% 40%;
	}	
	.Block3ActivityImg{
		height: 80px;
		background-position: 0% 30%;
	}
	.Block4ActivityImg{
		height: 300px;
		background-position:50% 30%;
	}
	.Block5ActivityImg{
		height: 110px;
		background-position:50% 20%;
	}
	.Block6ActivityImg{
		height: 110px;
		background-position:50% 40%;
	}
}
@media screen and (min-width:1001px){
	.Activités{
		flex-wrap: nowrap;
		height: 500px;
		justify-content: space-between;
	}
	.BlockActivités h2{
		width: 100%;
	}
	.BlockActivités h3{
		padding: 15px;
	}
	.Block1Activity{
		width: 22.5%;	
		margin-bottom: 0;
	}
	.Block1ActivityImg{
		height: 450px;
	}
	.Block2ActivityImg{
		height: 210px;
	}
	.Block3ActivityImg{
		height: 130px;
	}
	.Block4ActivityImg{
		height: 450px;
	}
	.Block5ActivityImg{
		height: 170px;
	}
	.Block6ActivityImg{
		height: 170px;
	}
	.DobbleBlock{
		width: 22.5%;
		height: auto;
	}
	.Block4Activity{
		width: 22.5%;
	}
	.DobbleBlock1{
		margin-bottom: 0;
	}
}