.FlexFiltres{
    font-size: 1.2em;
    width: 90%;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: column;
}
.filtres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:15px;
    margin-bottom:15px;
}
.filtre{
    height: 46px;
    border: 3px solid #F2F2F2;
    padding-right:20px;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 2em;	
}
.filtre:hover{
    cursor: pointer;
    color: white;
    background-color: #0065FC;
    border: 3px solid #DEEBFF;
    transition:0.5s ease-in-out ;	
}
.blockIcone{	
    background-color: #DEEBFF;
    background-size: auto;
    border-radius: 100%;
    width:50px;
    height: 50px;
    margin: 0;
    margin-right: 10px;
    position: relative;
    right: 5px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    font-size: 1.2em;
    color: #0065FC;
}
@media screen and (min-width:501px){
.filtres{
    width: 100%;
    justify-content: space-around;
}
}
@media screen and (min-width:1001px){
.FlexFiltres{
    width: 900px;
    margin-left: 10px;
    margin-right: auto;
    flex-direction: row;
}
.TitreFiltre{
    display: flex;
    align-items: center;
}	
}